html {
	font-family: "微软雅黑";
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling : touch;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input,
figure {
	margin: 0;
	padding: 0;
}
input,
textarea,
select{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	
}
select option{
	padding: 0 2px 1px;
}
body {
	-webkit-overflow-scrolling: touch;
	text-align: left;
	max-height: 100%;
}

a,
a:hover {
	text-decoration: none;
	outline: none;
}

li {
	list-style: none
}

img {
	border: none;
	max-width: 100%;
}


/*input, select, textarea { border: none; outline: none; background: none }*/
textarea{resize: none}
em,
i {
	font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal
}

.jz {
	width: 1200px;
	margin: 0 auto;
}

.clearfix {
	*zoom: 1;
}

.clearfix::after {
	clear: both;
	display: block;
	height: 0;
	content: '';
	visibility: hidden;
}

<!--[if IE]><script src=”http: //html5shiv.googlecode.com/svn/trunk/html5.js”></script>
< ![endif]-->article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
	display: block
}


/*垂直居中*/
.verticalcenter {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
	background: none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

a,
button,
input,
optgroup,
select,
textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
img {
	-webkit-touch-callout: none;
}
.same640{
	width: 100%;
	margin: 0 auto;
}
.main{
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	overflow: hidden;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0;
}
:focus {
    outline: none;
}
.poab{
	position: absolute;
}
/*修改颜色placeholder*/
/*:-moz-placeholder { 
    color: #000; opacity:1; 
}

::-moz-placeholder { 
    color: #000;opacity:1;
}

input:-ms-input-placeholder{
    color: #000;opacity:1;
}

input::-webkit-input-placeholder{
    color: #000;opacity:1;
}*/
img{
	pointer-events: none;
}
body .layui-m-layer .layui-m-layer-msg{
	bottom: 50%!important;
}
.f0{
	font-size: 0;
}
.return {
       position: fixed;
    bottom: -5px;
    width: 28%;
    z-index: 999999;
    right: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}
